@import 'src/global.scss';

body {
  background: $bgColor;
  color: $textColor;
  font-family: -apple-system, 'Helvetica', 'Arial', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  margin: $baseOffset * 2;

  &-title {
    color: $textColorInverse;
    text-align: center;
    text-shadow: 0 0 15px $shadowColorInverse;
  }

  &-galleryTitle {
    font-weight: 300;
    grid-column: 1/-1;
  }

  &-gallery {
    margin-top: $baseOffset * 2;
  }
}
